<nav id="myNavbar" class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container">
    <div class="navbar-header" id="navbar-header">
      {{> button_burger}}
    <a id="headline" class="navbar-brand" href="{{main.link}}">{{title}} {{point1}}</a>
    </div>
    
    <div class="collapse navbar-collapse" id="navbarCollapse">
      
      <ul class="nav navbar-nav">
        <li><a href="{{main.link}}" id="menuTeil1">{{main.text}}</a></li>
        <li><a href="{{login.link}}" id="menuTeil2">{{login.text}}</a></li>
        <li><a href="{{admin.link}}" id="menuTeil3">{{admin.text}}</a></li>
        <li><a href="{{about.link}}" id="menuTeil4">{{about.text}}</a></li>
      </ul>
      
    </div>
  </div>
</nav>